.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  color: var(--text-color);
  width: 90%;
  max-width: 640px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.toggle-dark-mode {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-dark-mode p {
  margin: 0;
}
