.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  width: 90%;
  max-width: 640px;
  background-color: var(--input-bg);
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  flex: 1;
  background-color: transparent;
  color: var(--text-color);
  outline: none;
}

/* search bar input focus make search bar container border white */
.search-bar:has(input:focus){
  /* light blue box shadow */
  box-shadow: 0 0 10px var(--search-bar-boxshadow);
}

.search-bar input::placeholder {
  color: var(--search-input-placeholder);
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--button-text);
}
